## Instructor Led Lab: Manipulating Data

In [63]:
import os
import pandas as pd
from sklearn.model_selection import KFold

In [2]:
os.chdir("c:\\Users\\winst\\OneDrive\\Desktop\\Python 2\\Week7\\week7labs\\data")   # change the directory
os.getcwd()  # confirm the change

'c:\\Users\\winst\\OneDrive\\Desktop\\Python 2\\Week7\\week7labs\\data'

In [3]:
teams = pd.read_csv("github_teams.csv")

In [4]:
# Column Headers

teams.columns

Index(['name_h', 'Team_type', 'Team_size_class', 'human_members_count',
       'bot_members_count', 'human_work', 'work_per_human', 'human_gini',
       'human_Push', 'human_IssueComments', 'human_PRReviewComment',
       'human_MergedPR', 'bot_work', 'bot_Push', 'bot_IssueComments',
       'bot_PRReviewComment', 'bot_MergedPR', 'eval_survival_day_median',
       'issues_count'],
      dtype='object')

In [5]:
#Number Columns
len(teams.columns)

19

In [6]:
#Number Rows
len(teams.index)

608

In [7]:
#Determine which columns are categorical and convert them from *object* to *category*.
teams.select_dtypes(include = ['object'])

                                            name_h  Team_type Team_size_class
0    _1bqaxzCk0sfQaunsjeViQ/RCEZ3CASdLXbstu9y2JQ7Q  human-bot           Small
1    _9o07rGiC7DFyi-zm91Q0g/VOgMsrjYEwFAq0BY8kHqGQ      human           Small
2    _DzK53uaZXnAX3WcC0W28g/Epc4QWw5PNBQIIdvopEHDA      human           Large
3    _l5u7I5p4thtW5SjR_9_4w/aZNCdVXta7fh7eCMzZP1CA  human-bot           Large
4    _l5u7I5p4thtW5SjR_9_4w/m_FpD7PKQHqVXHn2bh7u2g  human-bot           Large
..                                             ...        ...             ...
603  zTj5tlMWgotzJmQl7BP8wQ/iQ914_smScbUO8BI9JlE6A  human-bot           Small
604  zUBexdmYylGGpxiebXm6gg/sJXD2kulWzU35ijdY3SnBQ      human           Small
605  zVSBi-iRKCzLiqFwVt6hbg/8SfUBIOeWUjDoQxeUCX7wQ      human          Medium
606  zVSBi-iRKCzLiqFwVt6hbg/fm_lDWwc8Uu-aZ24BjUNZg      human          Medium
607  ZX09uvu0z_JVPVI-XrPniQ/pxiuGX_R6QI2Euvx2GFIFw  human-bot           Small

[608 rows x 3 columns]

In [8]:
teams['name_h'] = teams['name_h'].astype('category')
teams['Team_type'] = teams['Team_type'].astype('category')
teams['Team_size_class'] = teams['Team_size_class'].astype('category')

In [9]:
#How many unique values does `Team_type` have?
pd.unique(teams.Team_type)

['human-bot', 'human']
Categories (2, object): ['human', 'human-bot']

In [10]:
#How many unique values does `Team_size_class` have?
pd.unique(teams.Team_size_class)

['Small', 'Large', 'Medium']
Categories (3, object): ['Large', 'Medium', 'Small']

In [13]:
#What is the value of the 63rd row and 6th column?
teams.iloc[62,5]

35

In [14]:
#What are the values for the 300th row?
teams.iloc[299]

name_h                      IyfocAGfAHLncCVJUujqTA/A_QZ6HlUb5sRQHhPa7SGzQ
Team_type                                                       human-bot
Team_size_class                                                    Medium
human_members_count                                                     4
bot_members_count                                                       1
human_work                                                           1049
work_per_human                                                     262.25
human_gini                                                       0.448761
human_Push                                                            739
human_IssueComments                                                   213
human_PRReviewComment                                                  91
human_MergedPR                                                          6
bot_work                                                               52
bot_Push                                                                0
bot_IssueComments                                                      52
bot_PRReviewComment                                                     0
bot_MergedPR                                                            0
eval_survival_day_median                                             27.0
issues_count                                                        243.0
Name: 299, dtype: object

In [ ]:
#Using three different methods, select row with index value 595 with 1st, 2nd, 3rd columns.
teams.iloc[594, :3]

                                            name_h Team_size_class
594  Z7pZbUnKgDYaYhaLIGmLpw/O92cd-KLiFkunriLmVErdw           Small

In [29]:
teams.loc[594, 'name_h':'Team_size_class']

name_h             Z7pZbUnKgDYaYhaLIGmLpw/O92cd-KLiFkunriLmVErdw
Team_type                                              human-bot
Team_size_class                                            Small
Name: 594, dtype: object

In [21]:
teams.iloc[[594],[0,2]]

                                            name_h Team_size_class
594  Z7pZbUnKgDYaYhaLIGmLpw/O92cd-KLiFkunriLmVErdw           Small

In [33]:
#Using two different methods, select the row with index value 46 with the 3rd and 7th columns.
teams.iloc[45,[2,6]]

Team_size_class    Small
work_per_human      14.0
Name: 45, dtype: object

In [34]:
teams.loc[45,['Team_size_class','work_per_human']]

Team_size_class    Small
work_per_human      14.0
Name: 45, dtype: object

In [37]:
#Create a new DataFrame for the column `bot_work` using two different methods.
just_bot_work = pd.DataFrame(teams.bot_work)
just_bot_work

     bot_work
0          43
1           0
2           0
3        1972
4         302
..        ...
603        26
604         0
605         0
606         0
607         8

[608 rows x 1 columns]

In [51]:
just_bot_work2 = teams.iloc[:,12]
just_bot_work2

0        43
1         0
2         0
3      1972
4       302
       ...
603      26
604       0
605       0
606       0
607       8
Name: bot_work, Length: 608, dtype: int64

In [53]:
#Select `human-bot` teams that have a `bot_members_count` value greater than and equal to 2.
teams[(teams.bot_members_count >= 2)]

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
3,_l5u7I5p4thtW5SjR_9_4w/aZNCdVXta7fh7eCMzZP1CA,human-bot,Large,234,12,14579,62.303419,0.738342,1942,11430,1170,37,1972,0,1972,0,0,1.0,4757.0
4,_l5u7I5p4thtW5SjR_9_4w/m_FpD7PKQHqVXHn2bh7u2g,human-bot,Large,38,8,1625,42.763158,0.666607,203,1270,152,0,302,0,302,0,0,2.0,777.0
42,2-scMrZv13F95YPZmfieww/4Zc56iUYjIZrZU06omFrJw,human-bot,Large,23,2,4648,202.086957,0.560241,864,2574,1174,36,1325,0,1325,0,0,11.0,1635.0
84,4YoH8row044yJjPIqWJw9Q/NSXj3i61X71lV0StTN71Ww,human-bot,Small,2,2,114,57.000000,0.491228,114,0,0,0,37,0,37,0,0,0.0,14.0
89,5Is-_ie16OEGmW1arZm8qg/8UeSk2P76pTG7pPLtxsHTQ,human-bot,Large,17,4,7412,436.000000,0.439621,4182,1257,1917,56,358,5,202,151,0,2.0,495.0
110,7sA-8-nyqr0Ri2CT4-FSZw/GJPQoUhHfvUsxKcdkHWLEw,human-bot,Small,3,2,244,81.333333,0.502732,171,73,0,0,136,0,136,0,0,1.0,41.0
146,bi5TY2Z4OSQq3PMs6JnKYA/5wtZcUUo1XmLHIra8NDtFQ,human-bot,Medium,4,2,170,42.500000,0.717647,144,7,19,0,104,0,104,0,0,NaN,NaN
147,bi5TY2Z4OSQq3PMs6JnKYA/9b9IqkDK14ketwn88f3hKA,human-bot,Small,3,2,189,63.000000,0.624339,174,10,5,0,125,0,125,0,0,35.0,9.0
149,bi5TY2Z4OSQq3PMs6JnKYA/kIiAIJpk6lOa6Nxf234KkQ,human-bot,Small,3,2,88,29.333333,0.636364,74,7,7,0,74,0,74,0,0,NaN,NaN
224,FAhkB4rsocfDW0vrM8U8NA/3KHgTzOwWtAxTXlp_mbqoA,human-bot,Large,15,2,4821,321.400000,0.689096,2564,1801,386,70,270,90,116,52,12,13.0,1522.0
229,FAhkB4rsocfDW0vrM8U8NA/Tl_ZLGwQZrAi-GHyEKl_jA,human-bot,Large,18,2,2328,129.333333,0.680126,573,795,960,0,117,12,66,39,0,22.0,303.0
231,FAhkB4rsocfDW0vrM8U8NA/zHikYkcLoXRCKt2cUrRvvg,human-bot,Large,17,2,816,48.000000,0.683824,177,447,192,0,217,45,113,59,0,11.0,241.0
268,hXoZRbHPbVxh--funPXSiw/iNU0l_SpKVjGfHOp8vUt8w,human-bot,Small,2,2,910,455.000000,0.065934,207,369,334,0,114,0,114,0,0,4.0,64.0
325,kpY6vTbIlrk6Nrjilv8zhw/o_e0F16zwdovR3aFgIQipQ,human-bot,Large,29,2,2891,99.689655,0.752705,762,1793,302,34,790,1,789,0,0,7.0,1283.0
331,LDm8GbdhrDbcBGJF0dR_5g/-L63SLGp3n6MA-y5Di59og,human-bot,Large,18,2,840,46.666667,0.579894,118,603,113,6,79,0,79,0,0,16.0,369.0
345,MC6oqT7o22Y_rULWJZllfA/MXyVzmYYom7cgybNB0CjFQ,human-bot,Large,7,2,1421,203.000000,0.504072,444,277,644,56,77,0,77,0,0,19.0,124.0
376,O8b2IFn80coqzdP6IwbEKg/uAklmRuq-bJgMfb-PuSjSg,human-bot,Medium,4,2,35,8.750000,0.350000,22,13,0,0,26,0,26,0,0,NaN,NaN
413,Q658evmRIuaDEnUGlBqzYw/m-hxXTPKmxu3fh32f-RHtg,human-bot,Small,2,2,256,128.000000,0.425781,230,5,21,0,118,0,118,0,0,0.0,7.0
441,ReeJIVTm1BiV_SO5tNDVFA/ZfIj2C4Weg8to684MM7PGA,human-bot,Large,15,2,2211,147.400000,0.544068,214,1312,685,0,50,0,47,3,0,9.0,6.0
472,sq4hB0bA5jL3X3tvK_-stg/5YplqVgfP__pUXTJ9SMoQA,human-bot,Medium,4,2,484,121.000000,0.626033,304,180,0,0,298,0,298,0,0,12.0,92.0
473,sq4hB0bA5jL3X3tvK_-stg/G5WoDm7Rms4zNbJ3nc6hZA,human-bot,Large,27,2,2282,84.518519,0.815302,933,1275,74,0,475,0,457,0,18,2.0,603.0
541,vPPJXk7AxaaZyPsmA3MniQ/euqt0qlPNtbUnKy41316mA,human-bot,Medium,4,2,297,74.250000,0.521044,275,5,0,17,177,0,167,0,10,0.0,20.0
568,X1pcjhqqelcsRxAhcbNu-w/HJ1fkoQOuwxXJ25L7FGEcw,human-bot,Medium,5,2,281,56.200000,0.422776,95,94,85,7,51,0,51,0,0,64.0,25.0
586,YQI5l7pwpiRU8KVKXkNjjg/fCxq0R6_z233Fdr2Ly6iug,human-bot,Medium,5,2,1644,328.800000,0.560341,214,997,433,0,684,251,433,0,0,4.0,45.0

In [55]:
#Find the `human` teams that are `Large` and have a `human_gini` value greater than and equal to 0.75.
teams[(teams.Team_size_class == 'Large') & (teams.human_gini >= 0.75)]

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
37,0YuGJKD19yHae4I2X8Vi3Q/gWpl7HC8bRe4tH8S7ASf9w,human-bot,Large,84,1,9644,114.809524,0.807448,1095,5073,3365,111,329,0,329,0,0,2.0,2993.0
138,ASYGR96YA91p3z7MNKjZCA/IB2pZ8ygcvNnlxUdysjSFA,human,Large,12,0,1655,137.916667,0.799446,793,684,178,0,0,0,0,0,0,4.0,190.0
170,ChhIzGQNr9tq7mCMZw17FA/EUzOBM0WRT3A0AqDDgZ7gw,human-bot,Large,9,1,841,93.444444,0.762056,400,421,0,20,6,0,0,0,6,1.0,205.0
232,fCU0oLsk2VDqt1FQd442wQ/vw66CigJCpLmnGJpmxSrwg,human-bot,Large,14,1,1637,116.928571,0.791212,518,935,184,0,92,0,92,0,0,2.0,246.0
247,G4ciXHNLCpNOnOM__FPJzg/v1eHYw68dE0va5OeQQoAig,human-bot,Large,10,1,2721,272.100000,0.822087,1322,1289,64,46,282,0,282,0,0,6.0,717.0
271,HzhwvidPbEmz4xoMZyiVfw/sLD5mQnrR9IArF8AF21IGA,human-bot,Large,11,1,497,45.181818,0.767148,492,5,0,0,90,90,0,0,0,NaN,NaN
285,IiUao8vA_zm_uEIVVLI-Sw/91ya8vlSP8qgwCllH_6BSw,human,Large,25,0,3599,143.960000,0.863507,1249,2350,0,0,0,0,0,0,0,0.0,1245.0
325,kpY6vTbIlrk6Nrjilv8zhw/o_e0F16zwdovR3aFgIQipQ,human-bot,Large,29,2,2891,99.689655,0.752705,762,1793,302,34,790,1,789,0,0,7.0,1283.0
399,pDznmccVVZslZAFX5Ym9tg/ErpiGQ6eLenplfEQTat6ww,human-bot,Large,18,1,2154,119.666667,0.799856,644,1491,19,0,45,0,45,0,0,7.0,642.0
473,sq4hB0bA5jL3X3tvK_-stg/G5WoDm7Rms4zNbJ3nc6hZA,human-bot,Large,27,2,2282,84.518519,0.815302,933,1275,74,0,475,0,457,0,18,2.0,603.0
505,uLHPO58cQefwrJUbyhYOKQ/7YWOP8uDEeKDHQMWKqOoYA,human,Large,48,0,5748,119.750000,0.782040,1715,3891,142,0,0,0,0,0,0,0.0,1200.0
529,VemkfETAeqVyhw0s77AlUw/ERsm7IP5zmTUg2sWF5b-cQ,human-bot,Large,14,1,1878,134.142857,0.753461,1409,465,4,0,597,0,597,0,0,4.0,186.0
582,y8Jw59EHVSrsluSuhR5okg/V5vb074jNkzg4YCKforX1Q,human,Large,8,0,277,34.625000,0.781137,275,2,0,0,0,0,0,0,0,NaN,NaN

In [57]:
#How many teams are in the `Small` or `Large` category?
len(teams[(teams.Team_size_class == 'Large') | (teams.Team_size_class == 'Small')])

428

In [58]:
#How many teams are in the `Small` or `Large` cateogry with a `human_gini` value less than and equal to 0.20?
len(teams[(teams.Team_size_class == 'Large') | (teams.Team_size_class == 'Small') & (teams.human_gini <= 0.20)])

212

In [59]:
#How many `human-bot` teams are in the `Medium` category?
len(teams[(teams.Team_size_class == 'Medium')])

180

In [61]:
#Create a subsample of 50% of your data.
teams_sample = teams.sample(frac = 0.5, replace = False)
len(teams_sample)

304

In [65]:
#Create samples for a 8-fold cross validation test.
kf = KFold(n_splits = 2)

for train, test in kf.split(teams):
    print("%s %s" % (train,test))

[304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321
 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339
 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357
 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375
 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393
 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411
 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429
 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447
 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465
 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483
 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501
 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519
 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537
 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555
 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573
 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591
 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607] [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303]
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303] [304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321
 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339
 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357
 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375
 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393
 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411
 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429
 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447
 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465
 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483
 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501
 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519
 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537
 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555
 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573
 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591
 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607]

In [67]:
#Select columns that are numeric and save it as a new DataFrame.
teams.dtypes

name_h                      category
Team_type                   category
Team_size_class             category
human_members_count            int64
bot_members_count              int64
human_work                     int64
work_per_human               float64
human_gini                   float64
human_Push                     int64
human_IssueComments            int64
human_PRReviewComment          int64
human_MergedPR                 int64
bot_work                       int64
bot_Push                       int64
bot_IssueComments              int64
bot_PRReviewComment            int64
bot_MergedPR                   int64
eval_survival_day_median     float64
issues_count                 float64
dtype: object

In [73]:
teams_numeric = teams.iloc[:,3:18]
teams_numeric

,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median
0,2,1,66,33.000000,0.287879,29,33,4,0,43,0,43,0,0,87.0
1,2,0,62,31.000000,0.467742,62,0,0,0,0,0,0,0,0,NaN
2,7,0,211,30.142857,0.499661,194,16,1,0,0,0,0,0,0,37.0
3,234,12,14579,62.303419,0.738342,1942,11430,1170,37,1972,0,1972,0,0,1.0
4,38,8,1625,42.763158,0.666607,203,1270,152,0,302,0,302,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,3,1,855,285.000000,0.474854,423,59,373,0,26,0,26,0,0,NaN
604,2,0,63,31.500000,0.436508,63,0,0,0,0,0,0,0,0,NaN
605,5,0,26,5.200000,0.446154,19,5,2,0,0,0,0,0,0,NaN
606,5,0,13,2.600000,0.246154,8,4,1,0,0,0,0,0,0,8.0
607,2,1,57,28.500000,0.043860,32,24,1,0,8,3,4,1,0,5.0

In [74]:
#Remove the columns `bot_PRReviewComment` and `bot_MergedPR` from the DataFrame.
teams_numeric = teams_numeric.drop(['bot_PRReviewComment', 'bot_MergedPR'], axis = 1)
teams_numeric

,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,eval_survival_day_median
0,2,1,66,33.000000,0.287879,29,33,4,0,43,0,43,87.0
1,2,0,62,31.000000,0.467742,62,0,0,0,0,0,0,NaN
2,7,0,211,30.142857,0.499661,194,16,1,0,0,0,0,37.0
3,234,12,14579,62.303419,0.738342,1942,11430,1170,37,1972,0,1972,1.0
4,38,8,1625,42.763158,0.666607,203,1270,152,0,302,0,302,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,3,1,855,285.000000,0.474854,423,59,373,0,26,0,26,NaN
604,2,0,63,31.500000,0.436508,63,0,0,0,0,0,0,NaN
605,5,0,26,5.200000,0.446154,19,5,2,0,0,0,0,NaN
606,5,0,13,2.600000,0.246154,8,4,1,0,0,0,0,8.0
607,2,1,57,28.500000,0.043860,32,24,1,0,8,3,4,5.0

In [77]:
#Save the columns `Team_size_class` and `human_members_count` as a new DataFrame.
twocolumns = teams[['Team_size_class', 'human_members_count']]
twocolumns

    Team_size_class  human_members_count
0             Small                    2
1             Small                    2
2             Large                    7
3             Large                  234
4             Large                   38
..              ...                  ...
603           Small                    3
604           Small                    2
605          Medium                    5
606          Medium                    5
607           Small                    2

[608 rows x 2 columns]

In [78]:
#Rename these two columns in the new DataFrame.
twocolumns.rename(columns = {'Team_size_class' : 'size'}, inplace = True)
twocolumns.rename(columns = {'human_members_count' : 'humans'}, inplace = True)
twocolumns

C:\Users\winst\AppData\Local\Temp\ipykernel_5660\2332662150.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twocolumns.rename(columns = {'Team_size_class' : 'size'}, inplace = True)
C:\Users\winst\AppData\Local\Temp\ipykernel_5660\2332662150.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twocolumns.rename(columns = {'human_members_count' : 'humans'}, inplace = True)

       size  humans
0     Small       2
1     Small       2
2     Large       7
3     Large     234
4     Large      38
..      ...     ...
603   Small       3
604   Small       2
605  Medium       5
606  Medium       5
607   Small       2

[608 rows x 2 columns]